<h1>Cards</h1>
<h1></h1>
<h1></h1> 
<table>
  <tr>
    <th>Card</th>
    <th>Group</th>
    <th></th>
  </tr>
 
  <% @cards.each do |card| %>
    <tr>
      <td><%= card.card_id %></td>
      <td><%= card.card_reader_group_id %></td>
    </tr>
  <% end %>
</table>